<div class="todos-wrapper">

    <div class="container">

        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text</p>
        </div>

        
        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque perferendis exercitationem in consectetur aliquam dolorum, iste excepturi at aspernatur beatae, sit unde. Porro minima perferendis reprehenderit aliquid itaque amet! Animi!</p>
        </div>
        
    </div>

</div>
