<div class="manage-bookmarks-wrapper container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <p class="sidebar-heading">Your Bookmarks</p>

        <div class="sidebar-items">
            <a [routerLink]="[bookmark.id]"  routerLinkActive="selected" class="sidebar-item" *ngFor="let bookmark of bookmarks">{{ bookmark.name }}</a>
        </div>
    </div>

    <!-- CONTENT SECTION -->
    <div class="content has-blurred-white-bg">
        <app-edit-bookmark></app-edit-bookmark>
    </div>

</div>